<!-- <div class="alert alert-info text-center mt-2 custom" role="alert">
  <i class="fa fa-info-circle me-2"></i>
  <span><strong>Work in progress:</strong> The APIs to explore the dataset are unavailable at the moment.</span>
</div> -->
<div style="height: 100vh" class="ag-theme-alpine">
  <ag-grid-angular
      style="width: 100%; height: 100%"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      
      [frameworkComponents]="frameworkComponents"
      [defaultColDef]="defaultColDef"
      [animateRows]="true"
      [paginationAutoPageSize]="true"
      [pagination]="true"
      (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
</div>
