<div class="background-image">
  <div class="overlay"></div>
  <div class="container custom">
    <div class="row justify-content-center align-items-center mt-4">
      <div class="col-12 text-center">
        <h1 class="text-white title">PrivacyLens</h1>
        <h4 class="text-white subtitle">Automatic analysis of privacy policies of Smart Devices</h4>
      </div>
    </div>
    <div class="row justify-content-center align-items-start mt-5">
      <div class="col">
        <div class="card bg-gradient-custom h-100">
          <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <span class="fw-bold text-white">{{devices}}</span>
            <h4 class="text-white mb-3"> Smart Devices analyzed so far</h4>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-gradient-custom h-100">
          <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <span class="fw-bold text-white">{{policies}}</span>
            <h4 class="text-white mb-3"> Privacy Policies analyzed so far</h4>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container-text mt-3">

  <h2>Why analyzing Smart Device Privacy Policies?</h2>
  <p class="lead">
    With the rapid growth of IoT and smart devices, it's crucial for users to understand the privacy implications of the
    devices they use daily. Analyzing smart devices and their privacy policies ensures that consumers can make informed
    decisions when choosing which devices to purchase and use. By understanding the privacy risks and potential data
    breaches, consumers can take the necessary precautions to protect their sensitive information and maintain their
    privacy.
  </p>

</div>



