<div class="container my-5">
  <h2 class="fw-bold text-center">Keyword Analysis</h2>
  <p class="lead">The following is an analysis of information extracted about data management practices based on the
    privacy policies. The following table shows the frequency of terms related to different data management categories
    in the policy.</p>

  <!-- <p class="lead text-danger">In this section, we explore keyword analysis performed in our study to better understand the privacy
    policies of different smart devices. By examining keyword frequency within distinct groups across all devices, we
    identified trends and patterns that offer valuable insights into the current state of privacy policies in the smart
    device sector. We conducted a keyword analysis of 462 smart device privacy policies
    and grouped the keywords into ten distinct groups to identify trends and patterns as shown in the grid below. </p> -->
  <h4 class="text-center">Frequency of data management terms in privacy policies</h4>
  <div class="ag-theme-alpine my-5">
    <ag-grid-angular #agGrid style="height: 540px;" [rowData]="rowData$" [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef" [animateRows]="true" [gridOptions]="gridOptions"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
  <!-- <p class="lead text-danger"> We then analyzed the frequency of
    these groups across all the devices studied to gain a comprehensive understanding of the current state of privacy
    policies in the smart device industry. Then extracted relevant keywords from each policy and obtained the Maximum,
    Minimum, and Average values for each group across all devices studied, refer chart for better illustration. This
    allowed them to gain valuable insights
    into the privacy practices of different smart devices.</p> -->

  <p class="lead">The following graph shows the max, mean, min frequency of terms for each data management category:</p>

  <div class="container mt-5 text-center">
    <div class="row d-flex justify-content-center">
      <div class="col-auto">
        <plotly-plot [data]="data" [layout]="layout" (plotlyClick)="onBarClick($event)"></plotly-plot>
      </div>
    </div>
  </div>
  <div class="alert alert-info text-center mt-2 custom" role="alert">
    <i class="fa fa-info-circle me-2"></i>
    <span><strong>Note: </strong>If you want to explore further the frequency of terms for a specific category, click on
      their respective bars. This will show you the distribution by smart device category.</span>
  </div>
  <div *ngIf="!!this.type" class="container mt-5 text-center">
    <div class="row d-flex justify-content-center">
      <div class="col-auto">
        <plotly-plot [data]="results_data" [layout]="device_results_layout"></plotly-plot>
      </div>
      <div class="col-auto">
        <plotly-plot [data]="no_device_results_data" [layout]="results_layout"></plotly-plot>
      </div>
    </div>
  </div>
</div>