<div class="container my-5">
  <h2 class="fw-bold text-center">Keyword Analysis</h2>
  <p class="lead">This section details the keyword analysis that was conducted in the study to gain insights into the
    privacy policies of various smart devices. We conducted a keyword analysis of multiple smart device privacy policies
    and grouped the keywords into ten distinct groups to identify trends and patterns. We then analyzed the frequency of
    these groups across all the devices studied to gain a comprehensive understanding of the current state of privacy
    policies in the smart device industry. Then extracted relevant keywords from each policy and obtained the Maximum,
    Minimum, and Average values for each group across all devices studied. This allowed them to gain valuable insights
    into the privacy practices of different smart devices.</p>
  <div class="ag-theme-alpine my-5">
    <ag-grid-angular #agGrid style="height: 540px;" [rowData]="rowData$" [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef" [animateRows]="true" [gridOptions]="gridOptions"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>

  <div class="container mt-5 text-center">
    <div class="row d-flex justify-content-center">
      <div class="col-auto">
        <plotly-plot [data]="data" [layout]="layout" (plotlyClick)="onBarClick($event)"></plotly-plot>
      </div>
    </div>
  </div>
  <div *ngIf="!!this.type" class="container mt-5 text-center">
    <div class="row d-flex justify-content-center">
      <div class="col-auto">
        <plotly-plot [data]="results_data" [layout]="device_results_layout"></plotly-plot>
      </div>
      <div class="col-auto">
        <plotly-plot [data]="no_device_results_data" [layout]="results_layout"></plotly-plot>
      </div>
    </div>
  </div>
</div>