<div class="container my-5">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Privacy Policy</h2>
        </div>
        <div class="card-body">
            <p class="card-text lead">
                This website doesn’t collect or store any visitor data, period. I made a conscious choice not to have
                analytics or comment system (e.g., disqus) on this website to minimize any indirect tracking that may
                happen. Please let me know if you notice anything on this website that doesn’t follow this principle.
            </p>
        </div>
    </div>
</div>