<!-- <div class="container my-5">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Privacy Policy</h2>
        </div>
        <div class="card-body">
            <p class="card-text lead">
                This website doesn’t collect or store any visitor data, period. I made a conscious choice not to have
                analytics or comment system (e.g., disqus) on this website to minimize any indirect tracking that may
                happen. Please let me know if you notice anything on this website that doesn’t follow this principle.
            </p>
        </div>
    </div>
</div> -->

<section class="container py-5">
    <div class="card shadow-lg">
        <div class="card-header">
            <h2 class="card-title m-0">Privacy Policy</h2>
        </div>
        <div class="card-body">
            <p class="mb-4 fs-5">
                Welcome to PrivacyLens. We appreciate your interest in our platform, which presents results obtained by our framework using dynamic data visualizations.
            </p>

            <div class="my-4">
                <h3 class="mb-2 fs-4">No Personal Data Collected</h3>
                <p class="fs-5">
                    PrivacyLens doesn’t collect, store, or use any personal information. We've designed our platform as an open showcase of our project results. You're free to navigate and interact with our dynamic data visualizations without having to provide any personal data.
                </p>
            </div>

            <div class="my-4">
                <h3 class="mb-2 fs-4">Data We Display</h3>
                <p class="fs-5">
                    The data we display on our website is based solely on our project outcomes.
                </p>
            </div>

            <p class="fs-5 mt-4">
                Please contact us if you notice anything on our website that doesn’t adhere to this principle. We appreciate your assistance in maintaining the privacy of our users.
            </p>
        </div>
    </div>
</section>
