<section class="container py-5">
    <div class="card shadow-lg">
        <div class="card-header">
            <h2 class="card-title m-0">Privacy Policy</h2>
        </div>
        <div class="card-body">
            <p class="mb-4 fs-5">
                Welcome to PrivacyLens. We appreciate your interest in our platform, which presents results obtained by our framework using dynamic data visualizations.
            </p>

            <div class="my-4">
                <h3 class="mb-2 fs-4">No Personal Data Collected</h3>
                <p class="fs-5">
                    PrivacyLens doesn’t collect, store, or use any personal information. We've designed our platform as an open showcase of our project results. You're free to navigate and interact with our dynamic data visualizations without having to provide any personal data.
                </p>
            </div>

            <div class="my-4">
                <h3 class="mb-2 fs-4">Data We Display</h3>
                <p class="fs-5">
                    The data we display on our website is based solely on our project outcomes.
                </p>
            </div>

            <div class="my-4">
                <h3 class="mb-2 fs-4">External Links</h3>
                <p class="fs-5">
                    Our website may contain links to external websites that are not provided or maintained by or in any way affiliated with PrivacyLens. Please note that the PrivacyLens does not guarantee the accuracy, relevance, timeliness, or completeness of any information on these external websites. The privacy policy of these websites may be different and we advise you to check their policies.
                </p>
            </div>

            <p class="fs-5 mt-4">
                Please contact us if you notice anything on our website that doesn’t adhere to this principle. We appreciate your assistance in maintaining the privacy of our users.
            </p>
        </div>
    </div>
</section>
