<div class="container">
  <p class="lead">
    In this project, we present a comprehensive and automated
    framework for the analysis and evaluation of privacy
    policies associated with Internet of Things (IoT) devices. Our
    the framework utilizes machine learning algorithms for feature
    extraction and ambiguity detection, while leveraging web data
    and historical information to assess privacy policies across a
    range of devices.


  </p>
  <p class="lead"> We demonstrate the effectiveness of our proposed framework
    by applying it to a representative sample of IoT devices.
    Our results indicate that the framework can accurately identify
    critical components of privacy policies and uncover potential
    ambiguities that may impact the privacy quality of IoT devices.
    Additionally, we compare our findings with the Mozilla
    Privacy Not Included database, revealing that our framework
    offers comparable insights into the privacy quality of IoT
    devices.</p>

  <p class="lead"> The primary objective of our research is to address the challenges
    and limitations inherent in the current IoT privacy policy
    practices. By providing valuable insights, our work aims to
    enhance the usability and effectiveness of these policies for
    end-users. Through the development of a robust framework
    for evaluating and contrasting privacy policies, as well as for understanding
    their design, we strive to safeguard user data and
    privacy in the rapidly expanding IoT ecosystem. Our research
    plays a crucial role in fostering increased transparency and
    accountability in the digital era, ultimately empowering users
    to make better-informed decisions when using digital services,
    thereby protecting their personal data and privacy.</p>

    <p class="lead"> 
      This is a project from the DAMS lab at UMBC.
      <a href="https://damslabumbc.github.io/" class="link-primary ms-2" target="_blank" rel="noopener noreferrer">
        <i class="fas fa-external-link-alt"></i>
      </a>
    </p>
    
  <h2 class="research-title">Publications</h2>
  <p class="lead"> If you use the dataset for your research project, please consider citing the following papers:</p>
  <ng-select [items]="papers" [placeholder]="'Select a paper'" [appendTo]="'body'" [virtualScroll]="true"
    [virtualScrollItemSize]="40" [(ngModel)]="selectedPaper" class="paper-select">
    <ng-template ng-option-tmp let-item="item">
      <div class="d-flex justify-content-between align-items-center">
        <div>{{ item.title }}</div>
        <small>{{ item.year }}</small>
      </div>
    </ng-template>
  </ng-select>
  <div class="paper-details" *ngIf="selectedPaper">
    <pdf-viewer [src]="selectedPaper.pdfUrl" [show-all]="true" [style]="{ height: '90vh' }"></pdf-viewer>
  </div>
</div>

<!-- <div class="alert alert-info text-center mt-2 custom" role="alert">
    <i class="fa fa-info-circle me-2"></i>
    <span><strong>Not yet published</strong>
      </span>
  </div> -->