<div class="container my-5">
    <p class="lead">
        Our study reveals intriguing insights into the landscape of IoT privacy
        policies. Through the use of data visualization charts, we will guide
        you through our findings, aiding your understanding of how these
        insights can help craft or revise more comprehensive and legally robust
        privacy policies.
    </p>
    <h2 class="fw-bold">Comparing Privacy Policies to find similarities</h2>
    <p class="lead">
        Calculating the resemblance between a pair of textual documents is a
        frequent undertaking in natural language processing, featuring numerous
        real-world uses (e.g., order search engine outcomes or suggest related
        material to users). By comparing privacy policies we can explore which
        devices have similar privacy policies, or outlier devices with privacy
        policies that are significantly different from others of the same type.
    </p>

    <p class="lead">
        To learn more about text similarity
        <a
            (click)="open()"
            style="cursor: pointer; color: #00aaff; text-decoration: none"
            >click here.</a
        >
    </p>

    <p class="lead">
        Below is a table containing a list of URLs serves as a useful reference
        for further visualizations. The table provides a comprehensive list of
        all the URLs that have been loaded dynamically, making it easy to access
        and analyze the data. By using this table as a reference, it becomes
        possible to quickly identify and locate specific URLs that are of
        interest, allowing for more targeted analysis and visualization.
    </p>

    <div style="height: 50vh" class="ag-theme-alpine my-5">
        <ag-grid-angular
            #agGrid
            style="width: 100%; height: 100%"
            [rowData]="rowData$"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [animateRows]="true"
            [paginationAutoPageSize]="true"
            [pagination]="true"
            (gridReady)="onGridReady($event)"
        >
        </ag-grid-angular>
    </div>

    <div class="alert alert-info text-center mt-2 custom" role="alert">
        <p class="lead">
            Select multiple websites from the below dropdown list to compare
            their privacy policy text similarity using a heatmap chart. The
            chart displays the websites on both axes, and the color intensity
            represents the similarity score between them. A higher similarity
            score indicates a closer relationship between the privacy policies
            of the websites. You can select or deselect websites to update the
            heatmap dynamically. You will see the chart once you select at least
            two items form the dropdown list.
        </p>
    </div>

    <ng-select
        class="mb-3 highlighted-select"
        [items]="hmData"
        bindLabel="name"
        placeholder="Select websites"
        [multiple]="true"
        [(ngModel)]="selectedWebsites"
        (change)="onWebsiteChange($event)"
    >
    </ng-select>

    <div *ngIf="selectedWebsites.length > 1" class="container mt-5 text-center">
        <div class="row d-flex justify-content-center">
            <div class="col-auto">
                <ngx-charts-heat-map
                    [results]="chartHeatmapData"
                    [view]="view"
                    [showLegend]="true"
                    [legend]="legend"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxis]="xAxis"
                    [yAxis]="yAxis"
                    [xAxisLabel]="xAxisLabelH"
                    [yAxisLabel]="yAxisLabelH"
                    [scheme]="customColor"
                >
                </ngx-charts-heat-map>
            </div>
        </div>
    </div>

    <p class="lead">
        Our next visualization will show you the unique features of different
        company policies. We will use several key factors to do this, such as
        how easy the policy is to understand, how often it uses unique words,
        and how long it takes to read (explained details in the below table). We
        will also show you how these factors vary across different companies'
        privacy policies. This will help you see where each company excels or
        falls short in its privacy policy. The chart allows for a quick
        comparison, offering insights into how each company tailors its policy,
        and where there's room for improvement.
    </p>
    <h2 class="fw-bold">Ambiguity analysis</h2>
    <h4 class="text-center">
        Features of privacy policies of various websites
    </h4>
    <div style="height: 50vh" class="ag-theme-alpine my-5">
        <ag-grid-angular
            style="width: 100%; height: 100%"
            [rowData]="featureRowData$"
            [columnDefs]="featureColumnDefs"
            [defaultColDef]="defaultColDef"
            [animateRows]="true"
            [paginationAutoPageSize]="true"
            [pagination]="true"
            (gridReady)="onFeatureGridReady($event)"
        >
        </ag-grid-angular>
    </div>
    <p class="lead">
        The following table shows the min, average, and max values for each
        feature for the analyzed dataset.
    </p>
    <h4 class="text-center">
        Statistical Summary of Keyword Metrics: Min, Max, and Average Values
    </h4>
    <div style="height: 50vh" class="ag-theme-alpine my-5">
        <ag-grid-angular
            style="width: 100%; height: 85%"
            [rowData]="metricRowData$"
            [columnDefs]="metricColumnDefs"
            [defaultColDef]="defaultColDef"
            [animateRows]="true"
            (gridReady)="onMetricsGridReady($event)"
        >
        </ag-grid-angular>
    </div>
    <p class="lead">
        Based on the previous features, our classifiers classify the policies
        based on their level of ambiguity (level of ambiguity in italics). The
        following table shows the results along with the F-1 scores of the
        classifiers.
    </p>
    <h4 class="text-center">
        F1-score of Random Forrest Classifier for each Ambiguity Class
    </h4>
    <div style="height: 30vh" class="ag-theme-alpine my-5">
        <ag-grid-angular
        style="width: 100%; height: 100%"
            [rowData]="f1ScoreRowData$"
            [columnDefs]="f1ScoreColumnDefs"
            [defaultColDef]="defaultColDef"
            [animateRows]="true"
            (gridReady)="onF1ScoreGridReady($event)"
        >
        </ag-grid-angular>
    </div>

    <p class="lead">
        We found that almost all smart-connected car policies were classified as
        very ambiguous, indicating a need for clearer information. Our analysis
        showed EU privacy policies to be less ambiguous than those in the US and
        China, likely due to stricter data privacy laws like GDPR. We
        categorized policies into three ambiguity levels: not-ambiguous,
        somewhat-ambiguous, and very-ambiguous. The EU had the highest
        percentage of not-ambiguous policies (65.8%), while China had the lowest
        (54.3%). The US had the most somewhat-ambiguous policies (27.5%), with
        the EU having the least (12.5%). In the very-ambiguous category, China
        had the highest percentage (23.9%), and the US had the lowest (18.7%) as
        shown below.
    </p>
    <h4 class="text-center">
        Percentage of Ambiguity Level across Manufacturers
    </h4>
    <div style="height: 30vh" class="ag-theme-alpine my-5">
        <ag-grid-angular
        style="width: 100%; height: 100%"
            [rowData]="ambiguityLevelRowData$"
            [columnDefs]="ambiguityLevelColumnDefs"
            [defaultColDef]="defaultColDef"
            [animateRows]="true"
            (gridReady)="onAmbiguityLevelGridReady($event)"
        >
        </ag-grid-angular>
    </div>
    <p class="lead">
        Overall, the results suggest that companies need to pay more attention
        to the level of ambiguity in their privacy policies, particularly for
        smart-connected cars. The findings also highlight the need for stricter
        regulations and guidelines to ensure that privacy policies are more
        transparent and easier to understand for users.
    </p>
</div>
