@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ag-grid-community/styles/ag-theme-balham.css";

html,
body {
  height: 100%;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}


.p, .lead {
  font-weight: 370;
  font-family: 'Arial', sans-serif;
  font-size:large;
  text-align: justify;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
}

h4 {
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  text-align: center;
}

.tooltip-inner {
  max-width: 450px;
  text-align: justify;
}
.highlighted-select {
  border: 2px solid #00AAFF; /* This will add a border around the select */
  background-color: #fff8e1; /* This will change the background color of the select */
}